<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="base::Layout(~{::section})">

<section class="login-section py-4">

<div class="bg-bubbles">
  <span></span><span></span><span></span><span></span><span></span>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 col-12">

      <div class="login-card shadow-lg">
        <div class="row g-0">

          <!-- LOTTIE -->
          <div class="col-md-6 text-center p-4">
            <dotlottie-wc
              src="https://lottie.host/a58f7854-02a8-4ca0-a1d7-9fffe91d03e2/udYZwu9ntl.lottie"
              style="width:220px;height:220px"
              autoplay loop>
            </dotlottie-wc>
          </div>

          <!-- FORM -->
          <div class="col-md-6 p-4 p-md-5">
            <h2 class="mb-3 fw-bold"></h2>

            <form action="" th:action="@{/verify}" method="post">
            
            
              <div class="mb-3 icon-input">
                <i class="bi bi-person input-icon"></i>
                <input type="text" name="otp"
                       class="form-control ps-5"
                       placeholder="Enter OTP" required>
              </div>

            

              <button class="btn btn-primary w-100">Enter OTP</button>
             
              
           
            </form>

           
            
           
            

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
</html>